@import url(./null-style.css);

/* ----font-family---- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

/* ---globall---- */
body{
  font-family: "Open Sans";
}
/* Для бургера */
body._lock {
  overflow: hidden;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
main {
  flex: 1 1 auto;
}
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
/* ------button------ */
.btn-big{
  padding: 17px 39px;
  display: inline-block;
  border-radius: 3%/9%;
  font-weight: 600;
}
.btn-middle {
  padding: 12px 50px;
  display: inline-block;
  border-radius: 3%/9%;
  font-weight: 600;
}
.btn-smoll {
  padding: 9px 13px;
  display: inline-block;
  border-radius: 3%/9%;
  font-size: 14px;
  font-weight: 400;
}
.btn_transparent {
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0.52px;
  border: 3px solid #ffffff;
}
.btn_transparent:hover {
  color: #9ddadb;
  border: 3px solid #49cbcd;
}
.btn_birch {
  color: #fff;
  background-color: #49cbcd;
}
.btn_back {
  color: #fff;
  background-color: #788492;
}
.btn:active {
}
/* ------item------ */
.section-title {
font-size: 42px;
color: #4e525d;
}

/* ----Header---- */
.menu_icon {
  display: none;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  position: relative;
  z-index: 5;
  width: 120px;
  height: auto;
}
.header-nav {
  display: flex;
  margin: 0 -26px;
}
.header-nav li{
  position: relative;
}
.header-nav li:hover:before {
  content: "";
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #49cbcd;
}

.header-nav_link {
  padding: 41px 27px;
  display: inline-block;
  color: #484c55;
  font-size: 15px;
}
.header-nav_link:hover {
  background-color: #f8f9fb;
  color: #49cbcd;
}



/* ----main-slider---- */
.main-slider {
  position: relative;
  width: 100%;
  padding: 0 0 40.4% 0;
}
.main-slider_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background: #fff;
}
.swiper-button-prev {
  left: 29px;
}
.swiper-button-next {
  right: 29px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #49cbcd;
  font-size: 26px;
}
.swiper-scrollbar-drag {
  background: #49cbcd;
}
.swiper-horizontal>.swiper-scrollbar {
  bottom: 6px;
}
.main-slider_slide {
  position: relative;
}
.main-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main-slider_title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.16);
  color: #ffffff;
  font-size: 63px;
  letter-spacing: 0.8px;
  margin: 0 0 24px 0;
}

.main-slider_text {
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: #ffffff;
  font-size: 23px;
  line-height: 37px;
  margin: 0 0 56px 0;
}

/* ----main-services--- */
.services {
  padding: 70px 0 60px 0;
}
.content-row {
  display: flex;
  flex-wrap: wrap;
}
.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 25%;
  padding: 0 10px 40px 5px;
}
.services-content_img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 3px solid #49cbcd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 44px 0;
  flex: 0 0 auto;
}
.services-content_img img{
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.services-content_title {
  margin: 0 0 20px 0;
}
.card-title {
  font-size: 22px;
  line-height: 24px;
  color: #4e525d;
  text-align: center;
}
.services-content_text {
  margin: 0 0 16px 0;
}
.card-text {
  max-width: 252px;
  font-size: 14px;
  line-height: 26px;
  color: #4e525d;
  text-align: center;
  flex: 0 1 100%;
}

/* ----main-portfolio--- */
.portfolio {
  padding: 50px 0 102px 0;
  text-align: center;
  background-color: #f1f1f1;
}
.portfolio .section-title {
   margin: 0 0 64px 0;
}
.portfolio-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-auto-flow: row;
  gap: 30px;
  margin: 0 0 58px 0;
}
.portfolio-img {
  position: relative;
  padding: 0 0 84.5% 0;
}
.portfolio-img img{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1%;
  object-fit: cover;
}
.portfolio .btn-big {
  font-size: 24px;
}

@media (max-width: 992px) {
  /* ----main-slider---- */
  .main-slider_title {
    font-size: 53px;
    margin: 0 0 20px 0;
  }
  .main-slider_text {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 30px 0;
  }
  .main-slider_link {
    padding: 12px 30px;
    font-size: 26px;
    border: 3px solid #49cbcd;
    border-radius: 3%/9%;
  }
    /* ----main-services--- */
  .services {
    padding: 30px 0 0px 0;
  }
  .content-column {
    flex: 0 0 50%;
  }
  .services-content_img {
    margin: 0 0 20px 0;
  }
  /* ----main-portfolio--- */
  .portfolio {
    padding: 10px 0 30px 0;
  }
  .portfolio .section-title {
    margin: 0 0 34px 0;
  }
  .portfolio-body {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 768px) {
  .main-slider-content .btn-big {
    padding: 8px 16px;
    font-size: 20px;
  }

  /* header */
  /* бургер */
  .menu_icon {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu_icon span,
  .menu_icon::before,
  .menu_icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #44C0C2;
  }
  .menu_icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu_icon::before,
  .menu_icon::after {
    content: "";
  }
  .menu_icon::before {
    top: 0;
  }
  .menu_icon::after {
    bottom: 0;
  }
  .menu_icon._active span {
    transform: scale(0) translate(0, -50%);
  }
  .menu_icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu_icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, -50%);
  }
  .header-wrapper {
    padding: 20px 10px 10px 10px;
  }
  .header_logo {
    width: 100px;
  }
  .header-nav {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 4;
    width: 104%;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: left 0.5s ease 0s;
    padding: 60px 20px 20px 34px;
    overflow: auto;
  }
  .header-nav._active {
    left: 3%;
  }
  .header-nav li:hover:before {
    display: none;
  }
  .header-nav_link {
    padding: 12px 0px;
    border-bottom: 2px solid #44C0C2;
    font-size: 18px;
  }
  /* ----main-slider---- */
  .swiper-button-prev,
  .swiper-button-next {
    width: 34px;
    height: 34px;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #49cbcd;
    font-size: 20px;
  }
  .main-slider_title {
    font-size: 40px;
    margin: 0 0 14px 0;
  }
  .main-slider_text {
    font-size: 23px;
    line-height: 28px;
    margin: 0 0 20px 0;
  }
  /* ----main-portfolio--- */
  .portfolio-body {
    display: block;
  }
  .portfolio-img {
    margin: 0 0 18px 0;
  }
} 
@media (max-width: 576px) {
  /* ----main-slider---- */
  .main-slider_title {
    font-size: 30px;
    margin: 0 0 14px 0;
  }
  .main-slider_text {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 10px 0;
    max-width: 316px;
  }
  .main-slider_link {
    padding: 6px 15px;
    font-size: 18px;
  }
  .swiper-scrollbar {
    display: none;
  }
  /* ----main-services--- */
  .services {
    padding: 20px 0 0px 0;
  }
  .services .content-column {
    flex: 1 1 100%;
  }
  .services-content_img {
    margin: 0 0 10px 0;
  }
  .card-title {
    margin: 0 0 8px 0;
  }
  .card-text {
    max-width: 380px;
  }
  /* ----main-portfolio--- */
  .portfolio {
    padding: 0px 0 20px 0;
}
  .portfolio .section-title {
    margin: 0 0 20px 0;
  }
  .portfolio-img {
    margin: 0 0 10px 0;
}
}
@media (max-width: 380px) {
  .main-slider-content .btn-big {
    padding: 6px 12px;
    font-size: 14px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .main-slider_title {
    font-size: 30px;
    letter-spacing: 0px;
    margin: 0 0 4px 0;
  }
  .main-slider_text {
    font-size: 18px;
    line-height: 20px;
    max-width: 274px;
  }
}